<div class="container">
  <%= simple_form_for(@template) do |f| %>
    <%= f.error_notification %>
    <%= f.input :title, placeholder: "Enter a title" %>
    <%= f.input :description, placeholder: "Enter an description" %>
    <%= f.input :stylesheet, collection: ["template1","template2"] %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.submit %>
  <% end %>
</div>
