<h3>List of templates:</h3>

<% @templates.each do |template| %>
  <% if template.photo? %>
    <%= cl_image_tag template.photo.path, width: 200, height: 300, crop: :fill %>
  <% end %>
  <p><%= template.title %></p>
  <p><%= template.description %></p>
  <%= link_to "Preview", template_path(template) %>
  <%= link_to "Use", new_invitation_path(:template_id => template.id) %>
<% end %>
