<div class="navbar-wagon navbar-wagon-fixed">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag "navbar_logo.svg" %>
    <% end %>
  </div>

  <div class="navbar-links text-center hidden-xs hidden-sm">
    <%= link_to "HOME", '#one', class: "navbar-links-item navbar-wagon-link" %>
    <%= link_to "FEATURES", "#features-container", class: "navbar-links-item navbar-wagon-link" %>
    <%= link_to "TEMPLATES", "#templates", class: "navbar-links-item navbar-wagon-link" %>
    <%= link_to "CONTACT", "#map", class: "navbar-links-item navbar-wagon-link" %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.provider == "facebook" %>
              <%= image_tag current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% else %>
            <%= image_tag "profile_placeholder.svg", class: "dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

    <span>|</span>

    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Create Invitation"), new_invitation_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Create Invitation", new_invitation_path %></li>
        <li><%= link_to "Dashboard", dashboard_path  %></li></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%=link_to "Log in", new_user_session_path  %></li>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

