<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <%= image_tag "illus-guests.svg" %>
      <h6 class="modal-title" id="myModalLabel">GUESTS</h6>
    </div>
    <div class="modal-body" style="overflow: scroll">
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Phone number</th>
          <th>Email</th>
          <th>Guests</th>
        </tr>
        <% invitation_guests.each do |guest| %>
          <tr>
            <td><%= guest.full_name %></td>
            <td><%= guest.phone_number %></td>
            <td><%= guest.email %></td>
            <td><%= guest.plus %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <p>Total: <%= invitation_guests.sum(:plus) %> RSVP</p>
  </div>
</div>
