<div id="one"></div>
<div class="container text-center" id="logo">
  <%= image_tag "logo.svg" %>
  <p>BEST WEDDING INVITATION APP</p>
</div>

<div class="container text-center" id="laptop-phone">
  <%= image_tag "devices-desktop.png" %>
</div>

<div class="container text-center" id="features-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="feature text-center">
        <div class="feature-img">
          <%= image_tag "inspire.svg" %>
        </div>
        <div class="feature-title">
          <h2>INSPIRE</h2>
        </div>
        <div class="feature-text">
          <p>Share your love story<br>with your lover,<br>or watch our demos<br>to get inspiration</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="feature text-center">
        <div class="feature-img">
          <%= image_tag "create.svg" %>
        </div>
        <div class="feature-title">
          <h2>CREATE</h2>
        </div>
        <div class="feature-text">
          <p>Easily add your<br>wedding details,<br> generate a unique<br>wedding invitation</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="feature text-center">
        <div class="feature-img">
          <%= image_tag "share.svg" %>
        </div>
        <div class="feature-title">
          <h2>SHARE</h2>
        </div>
        <div class="feature-text">
          <p>Share your lovestory<br>by different platforms<br>with all your<br>relatives and friends</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="feature text-center">
        <div class="feature-img">
          <%= image_tag "track.svg" %>
        </div>
        <div class="feature-title">
          <h2>TRACK</h2>
        </div>
        <div class="feature-text">
          <p>Simplify your<br>guest's RSVP,<br>and make it easy for you<br>to keep track of them</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper text-center" id="templates">
  <h1>OUR TEMPLATES</h1>
  <div class="container">
    <div class="row">
      <%# @templates.each do |template| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="product">
            <div class="product-image">
              <%# if template.photo? %>
                <%#= cl_image_tag template.photo.path, width: 168, height: 138, crop:'fill' %>
              <%# else %>
                <%#= image_tag "img-placeholder.svg" %>
              <%# end %>
            </div>
            <div class='product-body'>
              <h3><%#= template.title %></h3>
              <p><%#= template.description.nil? ? "" : template.description.slice(0..20).concat('...') %></p>
            </div>
            <%#= link_to "", invitations_choose_template_path(id: template.id), class: "card-link", method: :post %>
          </div>
        </div>
      <%# end %>
    </div>
  </div>
</div> -->
<% @invitations = [{
  title: 'We are getting married!',
  description: 'What a nice day...',
  image: 'invitation1.jpg',
  url: 'http://wedtales.shanghaiwogeng.com/preview?invitation_id=3'
 }, {
  title: 'Welcome to our wedding!',
  description: 'We are getting married...',
  image: 'invitation2.jpg',
  url: 'http://wedtales.shanghaiwogeng.com/preview?invitation_id=11'
 }, {
  title: 'What a nice day!',
  description: 'Welcome to our wedding...',
  image: 'invitation3.jpg',
  url: 'http://wedtales.shanghaiwogeng.com/preview?invitation_id=13'
 }, {
  title: 'I love you!',
  description: 'Nice to meet you...',
  image: 'invitation4.jpg',
  url: 'http://wedtales.shanghaiwogeng.com/preview?invitation_id=12'
}] %>

<div class="wrapper text-center" id="templates">
  <h1>INVITATIONS</h1>
  <div class="row">
    <% @invitations.each do |invitation| %>
      <div class="col-md-6 col-lg-3">
        <div class="product">
          <div class="image-wrapper">
             <div class="image" style="background-image: url(<%= image_path invitation[:image] %>)"></div>
             <div class="caption">
               <h5><%=invitation[:title].capitalize %></h5>
               <p><%=invitation[:description] %></p>
              </div>
          </div>
          <%= link_to "", invitation[:url], class: "card-link", target: '_blank' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "START YOUR STORY", new_invitation_path, class: "btn", id: "btn-create" %>
</div>

<div class="wrapper" id="map">
  <div class="container" id="contact-form">
    <h2>CONTACT</h2>
    <p><%= image_tag "fill-1.svg", class: "marker" %>  Naked Hub, 89 Taixing Road, Shanghai</p>
  </div>
</div>


