<div class="container">
  <%= simple_form_for(@invitation) do |f| %>
    <%= f.error_notification %>
    <%= f.input :og_title, placeholder:'Enter a sharing title', input_html: { class:'new-input' } %>
    <%= f.input :og_description, placeholder:'Enter a sharing description', input_html: { class:'new-input' } %>
    <%= f.input :groom_name, placeholder: 'Enter the groom name', input_html: { class:'new-input' } %>
    <%#= f.input :photo, as: :attachinary %>
    <%= f.input :bride_name, placeholder: 'Enter the bride name', input_html: { class:'new-input' } %>
    <%#= f.input :photo, as: :attachinary %>
    <%= f.input :groom_bio, placeholder: 'Enter the groom bio', input_html: { class:'new-input' } %>
    <%= f.input :bride_bio, placeholder: 'Enter the bride bio', input_html: { class:'new-input' } %>
    <%= f.input :location, placeholder: 'Enter your wedding address', input_html: { class:'new-input' } %>
    <%= f.input :date, placeholder: 'Enter your wedding date', input_html: { class:'new-input' } %>
    <%= f.input :story_title, placeholder:'Enter a title', input_html: { class:'new-input' } %>
    <%= f.input :wedding_description, placeholder: 'Enter something to decribe your wedding day', input_html: { class:'new-input' } %>
    <%= f.input :template_id, placeholder: 'Select your template', input_html: { class:'new-input' } %>
    <%= f.input :rsvp %>
    <%= f.input :photos, as: :attachinary %>
    <%= f.submit %>
  <% end %>
</div>
