<div class="container-s top-space-big">
  <div class="row">
    <!-- TEMPLATE CONTAINER -->
    <div class="col-xs-12 col-lg-9">
      <div class="template-container">
        <div class="row">
          <div class="col-xs-4 template-title">
            <div class="step-bullet">
              <div class="bullet">1</div>
              <p>Choose a template</p>
            </div>
          </div>
          <div class="col-xs-4 template-title">
            <div class="step-bullet step-bullet-active">
              <div class="bullet bullet-active">2</div>
              <p>Enter wedding details </p>
            </div>
          </div>
          <div class="col-xs-4 template-title">
            <div class="step-bullet">
              <div class="bullet">3</div>
              <p>Share it</p>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row" id="template-list">
          <div class="scrollable-listing">
            <div class="col-xs-12 template-content">
              <div class="form-container">
                <%= simple_form_for(@invitation) do |f| %>
                  <%= f.error_notification %>
                  <div class="wedding-form wedding-form-dateaddress">
                    <h4>Date & Adrress</h4>
                    <%= f.input :date, label: false, input_html: { class:'new-input' } %>
                    <%= f.input :location, placeholder: 'Wedding address', label: false, input_html: { class:'new-input' } %>
                  </div>
                  <div class="wedding-form wedding-form-groombride">
                    <h4>Groom & Bride Info</h4>
                    <div class="groom_info">
                      <div class="file-upload">
                        <%= f.input :groom_photo, label: 'Groom Photo', label: false, as: :attachinary, input_html: { class:'input-file' }  %>
                      </div>
                      <div class="person-content">
                        <%= f.input :groom_name, placeholder: 'Groom name', label: false, input_html: { class:'new-input' } %>
                        <%= f.input :groom_bio, placeholder: 'Groom bio', label: false, input_html: { class:'new-input' } %>
                      </div>
                    </div>
                    <div class="bride_info">
                      <div class="file-upload">
                        <%= f.input :bride_photo, label: 'Bride Photo', label: false, as: :attachinary %>
                      </div>
                      <div class="person-content">
                        <%= f.input :bride_name, placeholder: 'Bride name', label: false, input_html: { class:'new-input' } %>
                        <%= f.input :bride_bio, placeholder: 'Bride bio', label: false, input_html: { class:'new-input' } %>
                      </div>
                    </div>
                  </div>
                  <div class="wedding-form wedding-form-story">
                    <h4>Wedding Story</h4>
                    <%= f.input :story_title, placeholder:'Title', label: false, input_html: { class:'new-input' } %>
                    <%= f.input :wedding_description, label: false, placeholder: 'Description', input_html: { class:'new-input' } %>
                  </div>
                  <div class="wedding-form wedding-form-photos attachinary_container">
                    <h4>Wedding Photos</h4>
                    <%= f.input :gallery, label: 'Gallery', label: false, as: :attachinary %>
                  </div>
                  <div class="wedding-form wedding-form-rsvp">
                    <h4>RSVP</h4>
                    <%= f.input :rsvp, label: "I need RSVP" %>
                    <%= f.hidden_field :template_id, label: false, input_html: { class:'new-input' } %>
                    <%= f.hidden_field :step, value: @step %>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 text-center" style="margin-top: 20px">
            <% if @step == 1 %>
              <%= link_to "Cancel", root_path, class: "btn btn-steps" %>
            <% else %>
              <%= link_to "Back", edit_invitation_path(step: @step - 1 ), class: "btn btn-steps" %>
            <% end %>
          </div>
          <div class="col-xs-6 text-center" style="margin-top: 20px">
              <%= f.submit "Next", class: "btn btn-steps"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- CELL-PHONE STYLE PREVIEW DISPLAYER -->
    <div class="col-lg-3 hidden-xs hidden-sm hidden-md">
      <div id="iphone">
<!--         <iframe src="http://u4033421.viewer.maka.im/k/HB2PASW6" class="iphone-screen">
        </iframe>
 -->      </div>
    </div>
  </div>
</div>


