  <h1> This is step <%= @step %> </h1>

  <h3>List of templates:</h3>
  <%= simple_form_for(@invitation) do |f| %>
    <%= f.association :template, as: :radio_buttons %>
    <%= f.hidden_field :step, value: @step %>
    <%= f.submit "Next" %>
  <% end %>
