<div class="container-s top-space-big">
  <div class="row">
    <!-- TEMPLATE CONTAINER -->
    <div class="col-xs-12 col-lg-9">
      <div class="template-container">
        <div class="row">
          <div class="col-xs-4 template-title">
            <div class="step-bullet">
              <div class="bullet">1</div>
              <p>Choose a template</p>
            </div>
          </div>
          <div class="col-xs-4 template-title">
            <div class="step-bullet">
              <div class="bullet">2</div>
              <p>Enter wedding details </p>
            </div>
          </div>
          <div class="col-xs-4 template-title">
            <div class="step-bullet">
              <div class="bullet bullet-active">3</div>
              <p>Share it</p>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row" id="template-list">
          <div class="scrollable-listing">
            <div class="col-xs-12 template-content">
              <%= simple_form_for(@invitation) do |f| %>
                <%= f.input :og_photo, label: 'Sharing Cover', as: :attachinary %>
                <%= f.input :og_title, label: 'Title', placeholder:'Enter a sharing title', input_html: { value: 'Welcome to our wedding ceremony!', class:'new-input' } %>
                <%= f.input :og_description, label: 'Description', placeholder:'Enter a sharing description', input_html: { value: 'We are getting married.', class:'new-input' } %>
                <%= f.input :custom_url, placeholder: 'Customize your URL', input_html: { class:'new-input' } %>
                <%= f.hidden_field :step, value: @step %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 text-center" style="margin-top: 20px">
            <%= link_to "Cancel", root_path, class: "btn btn-profile", id: "btn-cancel" %>
          </div>
          <div class="col-xs-6 text-center" style="margin-top: 20px">
              <%= f.submit "Save" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- CELL-PHONE STYLE PREVIEW DISPLAYER -->
    <div class="col-lg-3 hidden-xs hidden-sm hidden-md">
      <div id="iphone">
        <!-- <iframe src="http://u4033421.viewer.maka.im/k/HB2PASW6" class="iphone-screen">
        </iframe> -->
      </div>
    </div>
  </div>
</div>




