<div class="padded text-center">
<% if @step == 1 %>
  <%= render 'step1' %>
<% elsif @step == 2 %>
  <%= render 'step2' %>
<% elsif @step == 3 %>
  <%= render 'step3' %>
<% else %>
  <%= render 'error' %>
<% end %>

<% if @step > 1 %>
  <%= link_to "Back", edit_invitation_path(step: @step - 1 ) %>
<% end %>

<% if @step > 0 && @step < 3 %>
  <%= link_to "Next", edit_invitation_path(step: @step + 1 ), class: "btn"%>
<% end %>

<% if @step == 3 %>
  <%= simple_form_for(@invitation) do |f| %>
    <%= f.submit "Save" %>
  <% end %>
<% end %>
</div>


