<div class="wrapper">
  <div class="container">
    <h4>All Invitations</h4>
    <% @invitations.each do |invitation| %>
      <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= invitation.photos.any? ? cl_image_path(invitation.photos.first.path, width: 750, height: 450, crop: :fill) : ''%>);">
        <%= link_to invitation_path(invitation) do%>
          <h2><%= invitation.og_title %></h2>
        <% end %>
        <p><%= invitation.og_description %></p>
        <% if invitation.user.has_attribute?(:facebook_picture_url) %>
          <%= image_tag invitation.user.facebook_picture_url, class: "card-user avatar" %>
        <% else %>
          <%= image_tag "profile.svg", class: "avatar" %>
        <% end %>
        <%= link_to "", invitation_path(invitation), class: "card-link" %>
      </div>
    <% end %>
  </div>
</div>
