<h2>We are getting married!</h2>
<h4><%= @invitation.groom_name %> AND <%= @invitation.bride_name %></h4>
<h4>Wedding Date</h4>
<%= @invitation.date %>
<h4>Wedding Address</h4>
<%= @invitation.location %>

<h2>About the couple</h2>
<h4><%= @invitation.groom_name %></h4>
<%= @invitation.groom_bio %>
<h4><%= @invitation.bride_name %></h4>
<%= @invitation.bride_bio %>

<h2>Our Photos</h2>

<h2>Wedding Day</h2>
<%= @invitation.wedding_description %>

<h2>Save the date</h2>
<%= @invitation.rsvp %>

