<body>


<div class="swiper-container">


    <div class="swiper-wrapper">
        <div class="swiper-slide slide-1">
          <h2 class="animated" data-ani-name="zoomInDown" data-ani-duration="1s" data-ani-delay="0.5s">
          <h2>Wedding</h2>
          <h2><%= @invitation.groom_name || "Groom" %> AND <%= @invitation.bride_name || "Bride" %></h2>
          <div class="animated" data-ani-name="bounceInUp" data-ani-duration="1s" data-ani-delay="0.5s">
            <div class="decoration_1"></div>
            <h2>PICUTRE</h2>
            <h2><%= @invitation.date %></h2>
            <h2><%= @invitation.location || "Shanghai" %></h2>
          </div>
          <!-- get all animation names from https://daneden.github.io/animate.css/ -->
        </div>

        <div class="swiper-slide slide-2">
          <div class="animated" data-ani-name="bounceInUp" data-ani-duration="1s" data-ani-delay="0.5s">
            <h2>About the couple</h2>
            <% if @invitation.groom_photo? %>
              <%= cl_image_tag @invitation.groom_photo.path, width: 200, height: 300, crop: :fill %>
            <% end %>
            <h2><%= @invitation.groom_name || "Groom" %></h2>
            <h2> <%= @invitation.groom_bio || "He is a handsome guy, smart, gentleman and enthusiastic." %></h2>

            <% if @invitation.bride_photo? %>
              <%= cl_image_tag @invitation.bride_photo.path, width: 200, height: 300, crop: :fill %>
            <% end %>
            <h2><%= @invitation.bride_name || "Bride" %></h2>
            <h2><%= @invitation.bride_bio || "She is a beautiful girl, sweet, gentlewomanly, and enthusiastic." %></h2>

          </div>

        </div>
        <div class="swiper-slide slide-3">
          <div class="animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.5s">
            <h2>Wedding Day</h2>
            <%= @invitation.wedding_description || "So today we’ve rounded up some of our favorites from the last open wedding vows thread. Here’s to hoping they inspire you to create meaningful marriage vows for yourselves, and not at 2AM." %>
          </div>

        </div>
        <div class="swiper-slide slide-4">
          <div class="animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.5s">
            <h2>Our Photos</h2>
            <% @invitation.gallery.each do |photo| %>
            <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
            <% end %>
          </div>
        </div>
        <div class="swiper-slide slide-5">
          <div class="show-map">
            <div id="map" style="width: 100%; height: 60vh;">
              <%= content_for(:after_js) do %>
                <script>

                  function initMap() {
                    var loc = {lat: <%= raw @invitation.latitude %>, lng: <%= raw @invitation.longitude %>};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 4,
                      center: loc
                    });
                    var marker = new google.maps.Marker({
                      position: loc,
                      map: map

                    });
                  }
                </script>
              <% end %>
            </div>
          </div>
        </div>

        <div class="swiper-slide slide-6">
          <div class="animated" data-ani-name="flipInY" data-ani-duration="1s" data-ani-delay="0.5s">Join our journey...
            <div id="rsvp-button-container" class="container">
              <% if @invitation.rsvp == true %>
                <%= link_to "I'll be there", new_invitation_guest_path(@invitation), class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>

<button class="up-arrow"><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>

<!-- <button class="btn-music"><i class="fa fa-music"></i></button> -->
<!-- <audio loop><source src="audios/background.mp3" type="audio/mpeg"></audio> -->


  </body>

