<body>


<div class="swiper-container">


    <div class="swiper-wrapper">
        <div class="swiper-slide slide-1">
          <h2 class="test">Wedding</h2>
          <h2><%= @invitation.groom_name || "Groom" %> AND <%= @invitation.bride_name || "Bride" %></h2>
          <div class="test">
             <h2>PICUTRE</h2>
            <h2><%= @invitation.date %></h2>
            <h2><%= @invitation.location || "Shanghai" %></h2>
          </div>
          <!-- get all animation names from https://daneden.github.io/animate.css/ -->
        </div>

        <div class="swiper-slide slide-2">

            <h2>About the couple</h2>
            <% if @invitation.groom_photo? %>
              <%= cl_image_tag @invitation.groom_photo.path, width: 200, height: 300, crop: :fill %>
            <% end %>
            <h2><%= @invitation.groom_name || "Groom" %></h2>
            <h2> <%= @invitation.groom_bio || "He is a handsome guy, smart, gentleman and enthusiastic." %></h2>

            <% if @invitation.bride_photo? %>
              <%= cl_image_tag @invitation.bride_photo.path, width: 200, height: 300, crop: :fill %>
            <% end %>
            <h2><%= @invitation.bride_name || "Bride" %></h2>
            <h2><%= @invitation.bride_bio || "She is a beautiful girl, sweet, gentlewomanly, and enthusiastic." %></h2>

        </div>
        <div class="swiper-slide slide-3">

            <h2>Wedding Day</h2>
            <%= @invitation.wedding_description || "So today we’ve rounded up some of our favorites from the last open wedding vows thread. Here’s to hoping they inspire you to create meaningful marriage vows for yourselves, and not at 2AM." %>


        </div>
        <div class="swiper-slide slide-4">

            <h2>Our Photos</h2>
            <% @invitation.gallery.each do |photo| %>
            <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
            <% end %>

        </div>
        <div class="swiper-slide slide-5">

        <!-- This is the static map. Geocoding MUST happen on CREATE. Geocoding AND static map are Google. If we have time Jing can help with AMap Docs and change to A -->
          <img src='https://maps.googleapis.com/maps/api/staticmap?center=<%= @invitation.latitude %>,<%= @invitation.longitude %>&zoom=12&size=500x500&key=<%= #{ENV["GOOGLE_API_BROWSER_KEY"]} %>' alt="">
          <%= @invitation.latitude %>
          <%= @invitation.longitude %>
        </div>

        <div class="swiper-slide slide-6">
          <h4>page 6</h4>
        </div>
        </div>
        <div class="swiper-slide slide-7">
          <h4>page 7</h4>
        </div>
        <div class="swiper-slide slide-8">
          <h4>page 8</h4>
        </div>
<button class="up-arrow"><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>

<!-- <button class="btn-music"><i class="fa fa-music"></i></button> -->
<!-- <audio loop><source src="audios/background.mp3" type="audio/mpeg"></audio> -->


  </body>

