<!-- <%# test = 1 %> -->
<!-- <div class="template1"> -->

<% @mytemplate = "template1" %>
<div class='<%= @invitation.template.stylesheet %>'>
<%#= @invitation.template.stylesheet %>
<h2>We are getting married!</h2>
<h4><%= @invitation.groom_name %> AND <%= @invitation.bride_name %></h4>
<h4>Wedding Date</h4>
<%= @invitation.date %>
<h4>Wedding Address</h4>
<%= @invitation.location %>

<h2>About the couple</h2>
<% if @invitation.groom_photo? %>
  <%= cl_image_tag @invitation.groom_photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
<h4><%= @invitation.groom_name %></h4>
<%= @invitation.groom_bio %>

<% if @invitation.bride_photo? %>
  <%= cl_image_tag @invitation.bride_photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
<h4><%= @invitation.bride_name %></h4>
<%= @invitation.bride_bio %>

<h2>Our Photos</h2>
<% @invitation.gallery.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>

<h2>Wedding Day</h2>
<%= @invitation.wedding_description %>

<h2>Save the date</h2>
<%= @invitation.rsvp %>
</div>



