<!DOCTYPE html>

<!-- This is for pages, not templates -->
<% if @livetemplate == true %>
  <html>
    <head>
      <title>WedTales</title>
      <%= csrf_meta_tags %>
      <%= action_cable_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <%= stylesheet_link_tag    'mastertemplate', media: 'all' %>

    </head>
    <body>

      <%= yield %>
      <%= javascript_include_tag 'application' %>





  <%= yield(:after_js) %>
      <%= cloudinary_js_config %>
      <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_BROWSER_KEY"]}&callback=initMap" %>
    </body>
  </html>


<!-- This is for templates -->
<% else %>

  <html>
    <head>
      <title>WedTales</title>
      <%= csrf_meta_tags %>
      <%= action_cable_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <%= stylesheet_link_tag    'application', media: 'all' %>
    </head>
    <body>
  <!--   class="<%## if we are on an invite page and @invitation.template.name == then use the class "template-pink" %> -->
  <!--     <div id="left"></div>
      <div id="right"></div>
      <div id="top"></div>
      <div id="bottom"></div> -->
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= cloudinary_js_config %>
    </body>
  </html>

<% end %>
